html * {
    font-family: $font;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    color:white;
    background-color: $fondo;
    padding: 40px 15px 40px 15px;
    @include breakpoint("tablet"){
        padding: 40px 80px 40px 80px;
        font-size: 24px;
    }
    @include breakpoint("desktop"){
        padding: 100px 120px 150px 100px;
        header, main,footer{
            max-width: 1440px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    
} 